.container {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


.textarea {
  text-align: center;
  background-color: #444;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #ff5722;
  resize: none;
  width: 50%;
}

.button {
  background-color: #ff5722;
  color: #fff;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 10px;
}



.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 38px;
  box-shadow: 59 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 23px;
  border: 1px solid #ff5722;
  max-height: 225px;
  overflow-y: auto;
}

.result p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 4px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}


.result p:last-child {
  margin-bottom: 0;
}

.result p:before {
  content: "▹";
  margin-right: 5px;
  color: #888;
}

.result p:hover {
  background-color: #e0e0e0;
  cursor: pointer;
  color: #ff5722; /* Add the desired text color */
}

